/* .footer {
    color: #ffffff;
    background-color: transparent;
    position: fixed;
} */


.footer {
    color: #a8a7a7;
    text-align: center;
    /* padding: 10px 20px; */
    position: fixed; /* Ensures it's fixed in place */
    bottom: 0; /* Fixes it to the bottom of the viewport */
    left: 0;
    z-index: 100; /* Keeps it above other elements */
    font-size: 11px;
    margin-left: 10px;
}
