.productPage {
  padding: 10vh 10% 0 10%;
  background-color: #1d1d1d; /* Dark background */
  color: #fff;
  font-family: Arial, sans-serif;
  min-height: 100vh; /* Prevent white space at bottom */
  /* box-sizing: border-box; */
}

.productSection {
  display: flex;
  justify-content: center;
  align-items: center; /* Stretch items to equal height */
  gap: 30px;
}

.imageWrapper {
  flex: 1;
  max-width: 500px; /* Uniform width */
  height: 500px; /* Uniform height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.productDetails {
  flex: 1;
  max-width: 500px; /* Uniform width */
  height: 500px; /* Uniform height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}


.image {
  max-width: 50%; /* Adjust for normal size */
  object-fit: contain; /* Maintain proportions */
  border-radius: 10px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.iconBox {
  text-align: center;
  flex: 0 1 calc(33.333% - 20px);
}

.iconBox p {
  font-size: 12px;
}

.icon {
  font-size: 24px;
  color: #deae66;
  margin-bottom: 5px;
}

.name {
  font-size: 28px;
  font-weight: bold;
  color: #deae66;
  text-align: center;
}

.description {
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
}

.priceSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.price {
  font-size: 24px;
  color: #deae66;
}

.inStock {
  font-size: 16px;
  color: #90ee90;
}

.cartSection {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.quantityWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

button {
  padding: 10px 20px;
  background-color: #deae66;
  border: none;
  color: #1d1d1d;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.addToCart {
  font-weight: bold;
}

.disclaimer {
  margin-top: 30px;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #ccc;
}

.moreLink {
  color: #deae66;
  text-decoration: none;
}

.tabs {
  max-width: 1000px; 
  margin: 40px auto 0; 
  overflow-wrap: break-word; 
  word-wrap: break-word;
  word-break: break-word; 
}

.productInfo {
  padding: 20px;
  background-color: #2a2a2a;
  border-radius: 10px;
  color: #ccc;
  line-height: 1.6;
  font-size: 16px; 
  font-weight: 400;
  text-align: justify;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); 
}



:global(.ant-tabs-tab) {
  color:  #fff !important; /* Active color: Blue */
}

:global(.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn) {
  color: #deae66 !important; /* Active color: Blue */
}

:global(.ant-tabs-ink-bar.ant-tabs-ink-bar-animated) {
  background-color: #deae66 !important; /* gold */
}


