.products {
    display: flex;
    min-height: 90vh;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    padding: 10vh 20px 20px 20px;
    background-color: var(--products-background);
 }

 @media (max-width: 1500px) {
    .products {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px; 
        padding: 10vh 5px 5px 5px;
        flex-wrap: wrap;
        margin-top: 30px;
     }
  }


