  .switches {
    position: fixed;
    top: 5px;
    right: 10px;
    z-index: 51;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
    width: 30px;
  }
  
  .language {
    color: var(--text-color);
    font-size: 11px;
    cursor: pointer;
  }
  
  .floatButton {
    margin-bottom: 100px;
  }
  