
.container {
    height: 100vh;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    /* color: #fff; */
    overflow: hidden; 
    background-color: var(--background-color);
    /* z-index: 1;  */
}



.hero {
    position: fixed; /* Keeps the hero in view during its section */
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0 20px; 
   
}

.heroContent {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 40px;
    border-radius: 20px;
    z-index: 1;
    cursor: pointer;
  
    /* z-index: 1;  */
}

.heroContent h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: var(--hero-text-color);
    
}

.heroContent p {
    font-size: 1.2rem;
    color: var(--text-color);
}

/* Styles for the outer container */
.scrollContainer {
    cursor: pointer;
    position: absolute;
    bottom: 32px; /* Default for larger screens */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
    
  }
  
  /* For small screens, adjust bottom spacing */
  /* @media (max-width: 640px) {
    .scrollContainer {
      bottom: 10px;
    }
  } */
  
  /* Wrapper for the scroll animation */
  .scrollWrapper {
    width: 10px;
    height: 30px;
    border-radius: 20px; /* Equivalent to rounded-3xl */
    border: 1px solid var(--text-color); /* Adjust color as needed */
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 8px; /* Equivalent to p-2 */
    
  }
  
  /* The animated scroll dot */
  .scrollDot {
    width: 6px; /* Equivalent to w-3 */
    height: 6px; /* Equivalent to h-3 */
    border-radius: 50%; /* Equivalent to rounded-full */
    margin-bottom: 4px; /* Equivalent to mb-1 */
    background-color: var(--text-color); /* Adjust color as needed */
  }
  

