.container {
    position: fixed;
    bottom: 0; 
    right: 0;
    z-index: 100;
    margin-right: 20px;
    color: var(--subhero-icon-color);
}

.icon {
    height: 22px;
    width: 22px;
    margin-left: 7px;
    cursor: pointer;   
}

.icon:hover {
   scale: 1.1;   
}

.link {
    text-decoration: none;
    color: var(--subhero-icon-color);
}

.iconWechat {
    height: 22px;
    width: 22px;
    margin-left: 7px;
    cursor: pointer; 
  }

  .iconWechat:hover {
    scale: 1.1; 
  }

  .qrCode {
    position: absolute;
    bottom: 160%;
    right: 5%;
  }

  .qrImage {
    width: 120px;
  }