/* .container {
    position: fixed;
    width: 100vw;
    background-color: #000000; 
    height: 10vh;
    z-index: 50;
    top: 0;
    left: 0;
  }
  
  .wrapper {
    margin: 0px 100px 0 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
  }
  

  .logo {
    width: 200px;
    height: 60px;
  }
  

  .navbar {
    background-color: black !important;
    border: none !important;
  }
  
 
  :global(.ant-menu-horizontal) {
    border-bottom: none !important;
    background-color: black !important;
  }
  

  :global(.ant-menu-horizontal > .ant-menu-item) {
    border-bottom: none !important;
    margin: 0 10px;
  }
  

  :global(.ant-menu-horizontal > .ant-menu-item:hover) {
    background-color: #222222;
  }
  

  :global(.ant-menu-horizontal > .ant-menu-item::after),
  :global(.ant-menu-horizontal > .ant-menu-submenu::after) {
    border-bottom: 2px solid transparent; 
    transition: border-color 0.3s;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
 
  :global(.ant-menu-horizontal > .ant-menu-item-selected::after),
  :global(.ant-menu-horizontal > .ant-menu-item-active::after),
  :global(.ant-menu-horizontal > .ant-menu-submenu-selected::after),
  :global(.ant-menu-horizontal > .ant-menu-submenu-active::after) {
    border-bottom-color: #deae66 !important; 
  }
  

  .link {
    color: #ffffff !important;
    text-decoration: none !important;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  .link:hover {
    color: #deae66 !important;
  }
   */
   .container {
    position: fixed;
    width: 100vw;
    background-color: var(--navbar-background);
    height: 10vh;
    z-index: 50;
    top: 0;
    left: 0;
  }
  
  .wrapper {
    margin: 0px 100px 0 100px;
    background-color: var(--navbar-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
  }

  .navLink {
    text-decoration: none;
  }

  .navLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--link-color)
  }

  .logoV {
   font-size: 38px;
   margin-left: 5px;
   font-weight: bold;
  }

  .logoProject {
    font-size: 28px;
    letter-spacing: 4px;
    /* font-weight: bold; */
  }
  
  
  /* .logo {
    width: 200px;
    height: 60px;
    filter: var(--logo-filter);
  } */
  
  .navbar {
    background-color: var(--navbar-background) !important;
    border: none !important;
  }
  
  .link {
    color: var(--link-color) !important;
    text-decoration: none !important;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  .link:hover {
    color: var(--link-hover-color) !important;
  }
  
  :global(.ant-menu-horizontal > .ant-menu-item) {
    border-bottom: none !important;
    margin: 0 10px;
  }
  
  :global(.ant-menu-horizontal > .ant-menu-item:hover) {
    background-color: var(--menu-item-hover);
  }
  
  :global(.ant-menu-horizontal > .ant-menu-item-selected::after) {
    border-bottom-color: var(--menu-item-selected) !important;
  }
  
  :global(.ant-menu-horizontal > .ant-menu-item-selected::after),
  :global(.ant-menu-horizontal > .ant-menu-item-active::after),
  :global(.ant-menu-horizontal > .ant-menu-submenu-selected::after),
  :global(.ant-menu-horizontal > .ant-menu-submenu-active::after) {
    border-bottom-color: var(--menu-item-selected) !important; 
  }