 .howToOrder {
    padding: 10vh 50px 0 50px; 
    background-color: #1d1d1d;
    color: #fff;
    height: 90vh;
  }
  
  .title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 50px;
    color: #deae66;
  }
  
  .disclaimer {
    text-align: center;
    margin-bottom: 30px;
    font-size: 16px;
    color: #ccc;
  }

  .steps {
    width: 60%; /* Limit maximum width */
    margin: 20px auto; /* Center horizontally */   
  }
  
  :global(.ant-steps-item-title) {
    color: #deae66; /* Gold color for titles */
  }
  
  :global(.ant-steps-item-description) {
    color: #ccc; /* Light gray for descriptions */
  }
  
  :global(.ant-steps-item-process .ant-steps-item-title),
  :global(.ant-steps-item-process .ant-steps-item-description) {
    color: #fff !important; /* Active step styling */
  }
  
  :global(.ant-steps-item-finish .ant-steps-item-title),
  :global(.ant-steps-item-finish .ant-steps-item-description) {
    color: #deae66 !important; /* Finished step styling */
  }
  
  :global(.ant-steps-item-wait .ant-steps-item-title),
  :global(.ant-steps-item-wait .ant-steps-item-description) {
    color: #ccc !important; /* Waiting step styling */
  }


  .orderForm {
    /* max-width: 600px; */
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
  }
  
  .formGroupWrapper {
    width: 400px;
  }

  .formGroup {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
  }
  
  label {
    font-size: 16px;
    margin-top: 10px;
    color: #deae66;
  }
  
  input,
  textarea,
  select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    background-color: #2a2a2a;
    color: #fff;
    outline: none;
  }
  
  input:focus,
  textarea:focus,
  select:focus {
    border-color: #deae66;
  }
  
  .productSelection {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
  }
  
  .productItem {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .productImage {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .productInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-grow: 1;
  }
  
  .productPrice {
    font-size: 14px;
    color: #deae66;
  }
  
  .totalPrice {
    text-align: center;
    font-size: 18px;
    margin: 20px 0;
    color: #deae66;
    font-weight: bold;
  }
  
  .submitButton {
    padding: 15px 20px;
    background-color: #deae66;
    color: #1d1d1d;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  
  .submitButton:hover {
    background-color: #f5c770;
  }
  

  .phoneWrapper {
    display: flex;
    gap: 10px;
  }
  
  .phoneCode {
    width: 80px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #2a2a2a;
    color: #fff;
  }
  
  .phoneInput {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #2a2a2a;
    color: #fff;
  }
  